/* Common */
body {
  font-family: arial, sans-serif;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"),
    url(https://example.com/MaterialIcons-Regular.woff) format("woff"),
    url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

#google-home {
  padding: 0px;
}

/* Header */
#google-header a {
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

#apps {
  color: #5f6368;
  padding-right: 18px;
}

.header-left {
  margin-right: 24px;
}

.header-right {
  margin-left: 18px;
}

/* Logo */
.logo {
  margin-top: 192px;
}

#google-logo {
  height: 92px;
  width: 272px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Search */
.input {
  border: 1px solid lightgray;
  height: 45px;
  padding: 9px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
}

.input input {
  flex: 1;
  padding: 9px 20px;
  border: none;
  outline: none;
}

.search-button {
  padding-top: 18px;
}

.button {
  margin: 11px 4px;
  padding: 0px 16px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

#microphone {
  padding-left: 18px;
}

.language-show {
  line-height: 28px;
  color: #3c4043;
  display: inline-block;
  font-size: small;
  margin-bottom: 24px;
}

.language-show a {
  text-decoration: none;
}

.language-show a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  height: 10%;
  width: 100%;
}

.google-footer {
  display: flex;
  align-items: center;
  padding: 20px;
}

.language-footer {
  height: 50%;
  border-bottom: 1px solid lightgray;
}

.language-footer p {
  color: #70757a;
  font-size: 15px;
  margin-top: 18px;
}

.group-footer {
  height: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.group-footer ul li a {
  font-size: 14px;
  color: #70757a;
  text-decoration: none;
}

.group-footer ul li a:hover {
  text-decoration: underline;
}

.group-footer p {
  margin-top: 18px;
}

.left-footer,
.right-footer {
  display: flex;
}

.left-footer li,
.right-footer li {
  margin-right: 15px;
}
